<div class="text-sm mb-sm">
  <p><%= link_to 'Вопрос', question_path(question) %>
    для <%= link_to at_nickname(question.user), user_path(question.user.nickname) %>
    <% if question.author.present? %>
      от <%= link_to at_nickname(question.author), user_path(question.author.nickname) %>
    <% end %></p>
</div>
<div class="mb-sm">
  <%= sanitize hashtag_parser(question.body), tags: %w(a) %>
</div>
<% if question.answer.present? %>
  <div class="mb-sm text-dark-red">
    <%= sanitize hashtag_parser(question.answer), tags: %w(a) %>
  </div>
<% end %>
<% if question.hash_tags.present? %>
  <p class="text-sm mb-sm">
    <%= render question.hash_tags %>
  </p>
<% end %>
<div class="text-sm question-footer">
  <div class="text-gray">
    <%= l(question.created_at, format: :short) %>
  </div>
  <% if current_user == question.user %>
    <div>
      <% edit_icon = (question.answer.present? ? 'pencil' : 'reply') %>
      <%= link_to fa_icon(edit_icon), edit_question_path(question), title: 'Изменить вопрос',
        class: 'mr-sm' %>
      <% unless question.hidden %>
        <%= button_to fa_icon('eye-slash'), hide_question_path(question), method: :put,
          title: 'Скрыть вопрос', class: 'mr-sm' %>
      <% end %>
      <%= button_to fa_icon('trash-o'), question_path(question), method: :delete, title: 'Удалить вопрос?',
        form: {data: {turbo_confirm: 'Точно удалить вопрос'}} %>
    </div>
  <% end %>
</div>
