<div class="container">
  <p class="mt"><%= link_to 'Создать новый вопрос', new_question_url, class: 'button button-main' %></p>
  <p class="mt">
    <%= render 'form', question: @question %>
  </p>
</div>
<div class="container">
  <h2 class="title-lg">
    <%= @questions.count %>
    <%= inclination(@questions.count, 'вопрос', 'вопроса', 'вопросов') %>
  </h2>
</div>
<% @questions.each do |question| %>
  <div class="mt-sm container<%= ' text-opacity' if question.hidden %>">
    <%= render question %>
  </div>
<% end %>
